**/Makefile.rocq
**/Makefile.rocq.conf
**/.Makefile.rocq.d
**/*.glob
**/*.vo
**/*.vok
**/*.vos
**/.*.aux
_opam
_build
freer_playground/.Makefile.d
freer_playground/Makefile
freer_playground/Makefile.conf